@import url("//hello.myfonts.net/count/3b70a9");
  
@font-face {
  font-family: 'Rogliano';
  src: url('../fonts/Rogliano-Regular/font.woff2') format('woff2'), url('../fonts/Rogliano-Regular/font.woff') format('woff');
}
@font-face {
  font-family: 'Sofia';
  src: url('../fonts/SofiaPro-Regular/font.woff2') format('woff2'), url('../fonts/SofiaPro-Regular/font.woff') format('woff');
}

@font-face {
  font-family: 'SofiaBold';
  src: url('../fonts/SofiaPro-Bold/font.woff2') format('woff2'), url('../fonts/SofiaPro-Bold/font.woff') format('woff');
}
